.home_card{
    width: 400px;
    display: flex;
    margin: 18px 26px;
    flex-direction: column;
    align-items: center;
}

.home_card_image img{
    height: 180px;
    padding: 50px 0px;

}

.home_card_info {
    text-align: center;
}

.home_card_info h2{
    color: #252122;
    font-size: 28px;
    padding-bottom: 20px;
}

.home_card_info p{
    color: #696969;
    padding-bottom: 62px;
    line-height: 30px;
    font-weight: 200;
    font-size: 18px;

}

.button_link{
    font-size: 24px;
    background-color: #232329;
    color: #ffffff;
    padding: 14px 100px;
    text-decoration: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 600;
}

.button_link:hover{
    background-color: #52c252;
    color: #ffffff;
}
