.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    padding-top: 94px;
    margin-bottom: 50px;
    color: #232329;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 12px;

}
.menu{
    padding-bottom: 16px;
}

.menu-link{
    text-decoration: none;
    padding: 10px 36px;
    color: #5d5d5d;
    margin: 0px 2px;
    font-style: italic;
    font-size: 20px;
}

.menu-link:hover{
    background-color: #ececec;
    border-radius: 4px;
}

.menu-link:active{
    background-color: #52c252;
    color: #ffff; 
    font-weight: 700;
}